* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ddd5c4;
    font-family: monospace;
}

#calculator {
    width: 360px; 
    max-width: 95vw; 
    margin: 150px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

#footer {
    margin-top: auto;  
    width: 100%;
    text-align: center;
    background-color: rgb(124, 123, 123);
    padding: 15px;

}

#display {
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;

    text-align: right;
    background-color: rgb(214, 228, 233);
    color: #333;
    border-radius: 10px;
    border:none;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    touch-action: manipulation;
}

/* all btn wrapper */
#btnContainer {
    display: flex;
    gap: 10px;
}

#btnContainer button {
    font-size: clamp(16px, 2vw, 24px);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}


/* left side */

#leftContainer {
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 10px;
}

#topRow {
    display: flex;
    gap:10px;
}

#topRow button {
    flex: 1;
    height: 60px;
}

#numberContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#numberContainer button {
    flex: 1 0 30%;
    height: 60px;
    font-size: 18px;
}

#bottomRow {
    display: flex;
    gap: 10px;
}

#bottomRow button {
    flex: 1;
    height: 60px;
}


/* right side  */

#rightContainer {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-direction: column;
}

.operator, 
#equalBtn {
    flex: 1;
}

/* Misc */

button {
    border: none;
    font-family: monospace;
}

button:hover {
    background-color: #ffe0b2;
}

button:active{
    transform: scale(0.95);
}

.operator {
    background-color: #ffb74d;
}

#equalBtn {
    flex: 2;
}

#delBtn, 
#clearBtn,
#equalBtn {
    background-color: #ff8a65;
}

#clearBtn {
    font-size: 18px !important;
}


