* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#calculator {
    width: 320px; 
    max-width: 95vw; 
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: lightblue;
    border-radius: 10px;
}

#display {
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;

    text-align: right;
    background-color: rgb(214, 233, 240);
    color: black;
    border-radius: 10px;
    border:none
}

/* all btn wrapper */
#btnContainer {
    display: flex;
    gap: 10px;
}

#btnContainer button {
    font-size: clamp(16px, 2vw, 24px);
}


/* left side */

#leftContainer {
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 10px;
}

#topRow {
    display: flex;
    gap:10px;
}

#topRow button {
    flex: 1;
    height: 40px;
}

#numberContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#numberContainer button {
    flex: 1 0 30%;
    height: 60px;

}

#bottomRow {
    display: flex;
    gap: 10px;
}

#bottomRow button {
    flex: 1;
    height: 40px;
}


/* right side  */

#rightContainer {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-direction: column;
}

.operator, 
#equalBtn {
    flex: 1;
}

/* Misc */

button {
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: lightgray;
}

button:active{
    transform: scale(0.95);
}

.operator {
    background-color: rgb(240, 172, 47);
    font-weight: bold;
}

#equalBtn {
    flex: 1.7;
}

#delBtn, 
#clearBtn,
#equalBtn {
    background-color: coral;
}
